{% extends 'base.html.twig' %}

{% block title %}Edit Ticket by event{% endblock %}

{% block body %}
    <h1>Edit Ticket by event</h1>
    <h2>Request</h2>

    <p>{{ ticket.request }}</p>

    {{ include('ticket/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
