{% extends 'base.html.twig' %}

{% block title %}event index{% endblock %}

{% block body %}
    <h1>event index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>

                <td>
                    <a href="{{ path('app_event_show', {'adminLinkToken': event.adminLinkToken}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
