{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}
{% block h1 %}Event index{% endblock %}

{% block body %}


        {% for event in events %}
            <div class="alert alert-dark" role="alert">
               <b>{{ event.name }}</b> <a class="btn btn-primary float-end btn-lg" href="{{ path('app_event_show', {'adminLinkToken': event.adminLinkToken}) }}">show</a>
            </div>


        {% endfor %}


    <a class="btn btn-primary" href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
